body {
  margin: 0;
  background-image: url(../images/background.png);
  font-size: 8pt;
  font-family: Verdana, Tahoma, Garamond;
}

.banner {
  background-image: url(../images/bannerbg.png);
}

.banner > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.heading {
  text-align: center;
  font-size: 24pt;
  font-family: Tahoma, Verdana, Garamond;
  text-shadow: 3px 3px #999999;
}

.wrapper {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 550px 250px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 4px solid gray;
  border-radius: 20px;
}

div#left {
  grid-area: left;
}

div#right {
  grid-area: right;
  background-color: #a2b964;
  font-size: 8pt;
  font-family: Arial, sans-serif;
}

div#sub-wrapper {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 250px 250px;
  column-gap: 2%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  justify-content: center;
}

div#sub-wrapper .comment {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #e8dc9b;
  padding: 8px;
  font-weight: bold;
  font-size: 8pt;
  overflow: hidden;
}

#left-banner > span {
  position: relative;
  bottom: 15px;
}

#sub-wrapper .reviewer {
  margin: 10pt auto;
}

.reviewer > img {
  float: left;
  padding-right: 5px;
}

.reviewer span {
  font-style: italic;
}

.comment > img {
  float: left;
}

div#sub-left {
  grid-area: left;
}

div#sub-right {
  grid-area: right;
}

div#bottom {
  display: grid;
  text-align: center;
  background-color: #a2b964;
  width: 800px;
  row-gap: 5px;
}

div#left-banner {
  background-image: url(../images/rbg.png);
  font-size: 48pt;
  height: 83px;
  font-weight: bold;
  color: red;
}

#bottom-right {
  position: fixed;
  right: 0;
  bottom: 5px;
  float: right;
  opacity: 50%;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10pt;
}
