body {
  padding: 20px;
  background-color: #eaf6f6;
  font-family: Georgia, "Times New Roman", serif;
}

nav {
  padding: 12px;
  background-color: gray;
}

nav .active {
  font-weight: bold;
  background-color: black;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: whitesmoke;
}

nav a {
  padding: 12px;
  background-color: gray;
}

nav a:hover {
  background-color: #111;
}

h1,
h3 {
  color: #66bfbf;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
